:root {
  --var-main: #eeeeee;
  --var-second: #3b74ba;
  --var-third: #f5f5f5;
  --var-fourth: #a1a1a1;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif, serif;
}
.container {
  width: 850px;
  height: 700px;
  margin: 100px auto;
  background-color: var(--var-main);
  display: grid;
  justify-content: center;
  align-items: center;
}
.card {
  width: 600px;
  height: 400px;
  background-color: #fff;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}
.absolute {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: var(--var-second);
  padding: 7px;
  border-radius: 5px;
  right: 10px;
  bottom: -20px;
}
img {
  position: absolute;
  top: -110px;
  left: 225px;
}

.text {
  width: 500px;
  height: 100px;
  padding: 15px;
  margin-top: -40px;
  border-bottom: 2px solid var(--var-third);
  display: grid;
  justify-content: center;
  align-items: center;
}
h1 {
  color: var(--var-second);
  margin-bottom: 10px;
  letter-spacing: -2px;
}
p {
  color: var(--var-fourth);
}
.social {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  margin-top: -100px;
}
.flex {
  background-color: var(--var-third);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
